{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block title %}CADASTRO{% endblock %}

{% block conteudo %}
<form id="formExemplo" role="form" method="post">
    <div class="container">
        <h1>CADASTRO</h1>
        {% csrf_token %}
        {{ form|crispy }}
            <button ID="btnLogar" Class="btn btn-outline-info btn-destaque" Enabled="true"
                typpe="submit">
                Cadastrar</button>
            <br>



        </div>

    </div>
</form>
{% endblock %}