{% extends 'base.html' %}

{% load static %}

{% block title %}Página Inicial{% endblock %}

{% block conteudo %}
<form id="formExemplo" data-toggle="validator" role="form" onsubmit=" return validateMyForm(); event.preventDefault();">
    <div class="box-menu">
        <h1>LOGIN</h1>
        {% csrf_token %}
        <input type="hidden" name="next" value="{{next}}">
        <input type="text" id="inputUsuario" placeholder="CPF" runat="server">
        <div class="help-block with-errors"></div>
        <input type="password" id="inputPassword" placeholder="Digite sua Senha..." data-minlength="6">
        <div class="help-block with-errors"></div>
        <div class="col-lg-12">
            <a>Esqueceu a senha?</a>
            <br>
            <button ID="btnLogar" Class="btn btn-outline-info btn-destaque" Enabled="true"
                typpe="submit">
                Logar</button>
            <br>



        </div>

    </div>
</form>
{% endblock %}