

.btn-destaque {
    width: 10rem;
    margin: 0.5em;
}

.btn .btn-destaque a {
font-size: 15px;
}

    .btn-destaque a {
        color: white;
        text-decoration: none;
        text-align: center;
        font-size:20px;
    }
.btn-destaque2 {
    /* border: none; */
    border-color: transparent;
    background-color: #ebebeb;
    *background-color: #ebebeb;
    background-image: -moz-linear-gradient(top, #d8d8d8, #d8d8d8);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d8d8d8), to(#d8d8d8));
    background-image: -webkit-linear-gradient(top, #d8d8d8, #d8d8d8);
    background-image: -o-linear-gradient(top, #d8d8d8, #d8d8d8);
    background-image: linear-gradient(to bottom, #d8d8d8, #d8d8d8);
    color: black;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.btn .btn-destaque2 a {
    font-size: 15px;
}

.btn-destaque2 a {
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}



.formProduto {
    text-align: center;
    border-style: solid;
    background-color: white;
}








.login {
    color: white;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 43%, rgba(6,70,126,1) 100%, rgba(126,200,212,1) 100%);
    border-radius:  30px;
    padding: 300px;
    margin: auto;
    width: 20%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.425);
    margin-top: 5%;
    margin-bottom: 5%;
    
}




.box-menu {
    width: 600px;

    border-radius: 45px;
    padding: 100px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 5%);
    background: black;
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 50px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.box-menu h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.box-menu input[type="text"],
.box-menu input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid white;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.box-menu input[type="text"]:focus,
.box-menu input[type="password"]:focus {
    width: 400px;
    border-color: rgb(23, 122, 101);

}


.box-menu input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin-top: 20px;
    margin-left: 30%;
    text-align: center;
    border: 2px solid rgb(23, 122, 101);
    padding: 14px 40px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}



.box-menu input[type="submit"]:hover {
    background: rgb(23, 122, 101);
}



