{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block title %}Meu Carrinho{% endblock title %}

{% block conteudo %}

<div class="container my-3 table-responsive">
    <h1 class="font-weight-bold">Meu Carrinho</h1>
    {% if cart %}
    <table class="table">
        <thead>
            <tr class="bg-light">
                <th scope="col">Plano</th>
                <th scope="col">Preço Unitário</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart %}
            {% with plano=item.Plano %}
            <tr>
                <td class="align-middle">
                    <a target="_blank" class="text-decoration-none" href="{{ Plano.get_absolute_url }}">
                        {{plano.name }}
                    </a>
                </td>
                <td class="align-middle">
                    <form action="{% url 'cart:add' plano.id %}" method="post">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col">
                              
                            </div>
                            <div class="col">
                                <input class="btn btn-info" type="submit" value="Atualizar">
                            </div>
                        </div>
                        
                    </form>
                </td>
                <td class="align-middle">R$ {{ item.preco }}</td>>
                <td class="align-middle text-right">
                </td>
                
        <form action="{% url 'cart:remove' plano.id %}" method="post">
            {% csrf_token %}
            <input class="btn btn-danger" type="submit" value="Remover">
        </form>
            </tr>
            {% endwith %}
            {% endfor %}
            <tr class="bg-light">
                <td class="font-weight-bold">Total</td>
                <td></td>
                <td></td>
                <td class="font-weight-bold">R$ {{ cart.get_total_price }}</td>
                <td></td>
            </tr>
        </tbody>
    </table>
    {% else %}
    <p>O carrinho está vazio!</p>
    {% endif %}
    <p class="text-right">
       
        <a class="btn btn-success {% if not cart %}disabled{% endif %}" href="{% url 'pedidos:create' %}">
            Finalizar compra
        </a>
    </p>
</div>

{% endblock conteudo %}