{% extends 'base.html' %}

{% load static %}

{% block title %}Página Inicial{% endblock %}

{% block conteudo %}
<div class=" body-content">

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="fundo">
                
                </div>

            </div>
            <div class="carousel-item">
                <div class="fundo">
                
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 car" src="{% static 'img/SLIDE.jpg' %}" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
        </a>
    </div>
    <hr />
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <div class="container py-3 " id="testte">
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm border-dark">
                    <div class="card-header py-3 text-white bg-dark border-dark">
                        <h4 class="my-0 fw-normal">PLANO LIGHT</h4>
                    </div>
                    <div class="card-body">
                        <p>Ingresse agora no nosso plano light<br> e desfrute do melhor de nossa academia economizando
                            MUITOOOOOOO</p>
                        <h1 class="card-title pricing-card-title">R$ 59,90<small
                                class="text-muted fw-light">/mês</small>
                        </h1>

                        <a href="/view/cadastroCliente.html">
                            <button type="button" class="w-100 btn btn-lg btn-outline-success">Assinar</button>


                        </a>
                    </div>
                </div>

            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm border-dark">
                    <div class="card-header py-3 text-white bg-dark border-dark">
                        <h4 class="my-0 fw-normal">PLANO LIGHT</h4>
                    </div>
                    <div class="card-body">
                        <p>Ingresse agora no nosso plano light e desfrute do melhor de nossa academia economizando
                            MUITOOOOOOO</p>
                        <h1 class="card-title pricing-card-title">R$ 59,90<small
                                class="text-muted fw-light">/mês</small>
                        </h1>

                        <a href="cadastro">
                            <button type="button" class="w-100 btn btn-lg btn-outline-success">Assinar</button>


                        </a>
                    </div>
                </div>

            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm border-dark">
                    <div class="card-header py-3 text-white bg-dark border-dark">
                        <h4 class="my-0 fw-normal">PLANO LIGHT</h4>
                    </div>
                    <div class="card-body">
                        <p>Ingresse agora no nosso plano light e desfrute do melhor de nossa academia economizando
                            MUITOOOOOOO</p>
                        <h1 class="card-title pricing-card-title">R$ 59,90<small
                                class="text-muted fw-light">/mês</small>
                        </h1>
                        <a href="/view/cadastroCliente.html">
                            <button type="button" class="w-100 btn btn-lg btn-outline-success">Assinar</button>


                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}