{% extends 'base.html' %}
{% load static %}
{% load plano_tags %}
{% block title %}Página Inicial{% endblock %}

{% block conteudo %}
<div class=" body-content">

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="fundo">

                </div>

            </div>
            <div class="carousel-item">
                <div class="fundo">

                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 car" src="{% static 'img/SLIDE.jpg' %}" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
        </a>
    </div>
    <hr />
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.js"></script>




    <div class="container py-3 " id="testte">
        <h1>Planos</h1>
        <hr />
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            {% if plano_list %}

            {% for Plano in plano_list %}
            <div class="col">

                <div class="card mb-4 rounded-3 shadow-sm border-dark">
                    <div class="card-header py-3 text-white bg-dark border-dark">
                        <h4 class="my-0 fw-normal">{{ Plano.nome }}</h4>
                    </div>
                    <div class="card-body">
                        <p>{{ Plano.descricao }}</p>
                        <h1 class="card-title pricing-card-title">{{ Plano.preco }}<small
                                class="text-muted fw-light">/mês</small>
                        </h1>
                        <form class="form-group" action="{% url 'carrinho:add' Plano.id %}" method="post">
                            {% csrf_token %}

                            <input class="btn btn-success" type="submit" value="Assinar">
                        </form>
                    </div>
                </div>

            </div>
            {% endfor %}
            {% endif %}

        </div>
    </div>


    {% endblock conteudo %}