<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/design.css">
    <link href='https://fonts.googleapis.com/css?family=Zen Dots' rel='stylesheet'>
    <title>Default</title>
</head>
<body>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/carousel.css" rel="stylesheet" />
    <script src="js/bootstrap.min.js"></script>
     <div class="menu">
            <p style="text-align: center; color:white"><a href="default.html">MENU</a></p>
            <a href="login.html">Login</a>
            <a href="cadastro.html">Cadastro</a>
            <a href="gameficacao.html">Game</a>
     </div>
        
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

            <ol class="carousel-indicators" style="margin:auto;">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            </ol>


        
            <div class="carousel-inner">
                        <div class="carousel-item active" style="width:100%;background: rgb(2,0,36);background: linear-gradient(180deg, rgba(2, 0, 36, 0.986) 43%, rgba(6, 70, 126, 0.479) 100%, rgba(126, 200, 212, 0.507) 100%)">
                            <a  style="text-decoration:none; color: white;" href="gameficacao.html"> </a>
                            <div class="carousel-caption d-none d-md-block">
                            
                            
                            </div>
                        </div>

                

            
                    <div class="carousel-item" style="width:1350px;height:450px" ">
                        <a  style="text-decoration:none; color: white;"href="login.html">
                        <img class="d-block w-100 " style="width:50%;height:100%; position:unset" src="img/main.jpg" alt="Second slide" />

                    </a>
                    <div class="carousel-caption d-none d-md-block">
                        <a  href="login.html" style="text-decoration:none; color: white;"> <h1 style="font-family: sans-serif; font-weight:500;text-shadow: #000 3px 5px 3px" >ALUNO IFSP FAÇA SEU CADASTRO</h1>  </a>
                
                    </div>


                    </div>
                

            
                    <div class="carousel-item" style="width:1350px;height:450px">
                        <a  href="cadastro.html"> <img class="d-block w-100"  style="width:50%;height:100%; position:unset" src="img/main.jpg" alt="Third slide">
                            </a>
                    <div class="carousel-caption d-none d-md-block">
                        <a  href="cadastro.html" style="text-decoration:none; color: white;"><h1 style="font-family: sans-serif; font-weight:500; text-shadow: #000 3px 5px 3px" >PERGUNTAS E RESPOSTAS</h1>  </a>
                
                    </div>
                    
                    </div>
            

                
                    <div class="carousel-item" style="width:1350px;height:450px" ">
                    <a  href="default.html"><img class="d-block w-100 " style="width:50%;height:100%; position:unset" src="img/main.jpg" alt="Fourth slide" />
                                </a>
                    
                    <div class="carousel-caption d-none d-md-block">
                        <a  href="default.html" style="text-decoration:none; color: white;"> <h1 style="font-family: sans-serif; font-weight: 500; text-shadow: #000 3px 5px 3px;">CONHEÇA NOSSO WIKI</h1>  </a>
                
                    </div>


                    </div>
                
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev" >
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next" >
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="produtos">
            <h1>CONTEÚDOS</h1>
            <div class="elemento">
                <P>CADA ELEMENTO</P>
                <button type="button" class="btn btn-destaque2" ><a>Botão</a></button>
            </div>    
            <div class="elemento">
                <P>CADA ELEMENTO</P>
                <button type="button" class="btn btn-destaque2" ><a>Botão</a></button>
            </div>    
            <div class="elemento">
                <P>CADA ELEMENTO</P>
                <button type="button" class="btn btn-destaque2" ><a>Botão</a></button>
            </div>    
               
                      
        </div>
        <div class="info">
            <h1>INFORMAÇÕES</h1>
            <div class="informacional">
                SETOR INFORMACIONAL
            </div>
            <div class="little_square">
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
            </div>
        </div>
        <div class="footer">
            <p style="color:#ffffff;text-align: center;">&copy; Todos os Direitos reservados <br />
                    
                <br />
                 
            </p>
        </div>
   
</body>
</html>