<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/design.css">
    <title>Document</title>
</head>
<body>
    <div class="menu">
        MENU
    </div>
    <div class="game_form">
       <div class="pontos">
            INFORMAÇÕES E PONTOS DO CLIENTE
       </div>
       <div class="atividades">
            
            <div class="elemento2">
                ELEMENTO PRA TROCA POR PONTO
            </div>    
            <div class="elemento2">
                ELEMENTO PRA TROCA POR PONTO
            </div>    
            <div class="elemento2">
                ELEMENTO PRA TROCA POR PONTO
            </div>    
       </div>
    </div>
    <div class="footer">
        RODAPÉ
    </div>
</body>
</html>